---
import Stars from '../components/Stars.svelte';
---

<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
		<style>
		@font-face {
			font-family: FuturaBold;
			src: url('FuturaHeavyfont.ttf');
		}

		body {
			font-family: FuturaBold;
		}

        @keyframes floating {
            0% { transform: translate(0,  -2px); }
            50%  { transform: translate(0, 4px); }
            100%   { transform: translate(0, -2px); }   
        }

        #header-image {
            animation: floating 5s;
            animation-timing-function:ease-in-out;
            animation-iteration-count: infinite;
        }

		</style>

	</head> 
<body class="bg-gradient-to-b
		from-gray-900
		to-gray-800
        h-screen
        m-auto
        ">
    <Stars client:only="svelte"></Stars>
    <div class="container flex flex-col mb-24 m-auto mt-20">
					<h1 id="heroText" class="
					select-none
					text-center
					font-bold
					text-transparent 
					text-5xl
					md:text-6xl
					lg:text-8xl 
					bg-clip-text 
					bg-gradient-to-r 
					from-blue-300 
					to-blue-600
					mb-0
					">
					About Me
					</h1>
    </div>

    <div class="container grid grid-cols-6 m-auto">
        <img id="header-image" src="/headshot.jpg" class="rounded-full shadow-lg col-span-2 hover:scale-105 transition duration-700" alt="" srcset="">
    </div>
    
</body>
</html>