---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>


	<body id="home" class="
		prose
		prose-invert
		bg-gradient-to-b
		from-gray-900
		to-gray-600
		">
		<Header title={SITE_TITLE} />
		<main class="w-full">
			<h1 class="
			text-center
			font-bold
			text-transparent 
			text-4xl
			md:text-6xl
			lg:text-8xl 
			bg-clip-text 
			bg-gradient-to-r 
			from-blue-400 
			to-blue-600
			">
			Hey! I'm Noah
			</h1>
			<img class="w-5/12 rounded-full border-2 border-white"  src="/headshot.jpg" alt="" srcset="">
			
		</main>
		<Footer />
	</body>
</html>