---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import OrbitLinks from "../components/OrbitLinks.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>


	<body id="home" class="
		prose
		prose-invert
		bg-gradient-to-b
		from-gray-900
		to-gray-600
		">
		<!-- <Header title={SITE_TITLE} /> -->
		<main class="w-full min-h-screen">

			<div class="grid md:grid-cols-2 grid-cols-1">
					
				<OrbitLinks client:idle></OrbitLinks>
					
				<div class="container flex flex-col">
					<h1 id="heroText" class="
					select-none
					md:mt-10
					text-center
					font-bold
					text-transparent 
					text-5xl
					md:text-6xl
					lg:text-8xl 
					bg-clip-text 
					bg-gradient-to-r 
					from-blue-400 
					to-blue-600
					mb-0
					">
					Hi, I'm Noah
					</h1>
					<p id="subtext1" class="text-center text-lg md:text-xl"> Software Engineer in NY,NY</p>
				</div>
				
			</div>
		</main>
		<Footer />
	</body>
</html>

<style>
	#heroText {
		font-family: FuturaBold;
	}
	#subtext1 {
		font-family: FuturaBold;
	}
	#solarSystem{
		/* cursor: pointer; */
	}

	/* INNER ORBIT GROUP */
	#innerOrbitGroup {
		animation: rotateOrbit 20s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-delay: 0s;
	}
	#innerOrbitGroup:hover {
		animation-play-state: paused;
	}
	#earth {
		cursor: pointer;
		/* transition: 300ms; */
		animation-name: floating;
		animation-duration: 6s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		fill: radial-gradient(circle at 1px 1px, #5cabff, #000);
	}


	/* MIDDLE ORBIT GROUP */
	#middleOrbitGroup {
		animation: rotateOrbit 40s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-delay: 0s;
	}
	#middleOrbitGroup:hover {
		animation-play-state: paused;
	}
	#saturn {
		cursor: pointer;
		/* transition: 300ms; */
		animation-name: floating;
		animation-duration: 6s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
	#workIcon {
		/* animation-name: floating;
		animation-duration: 8s;
		animation-iteration-count: infinite; */
		/* animation-name: test;
		animation-duration: 5s;
		animation-iteration-count: infinite; */
	}

	/* OUTER ORBIT GROUP */
	#outerOrbitGroup {
		animation: rotateOrbit 60s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-delay: 0s;
	}
	#outerOrbitGroup:hover {
		animation-play-state: paused;
	}
	#Jupiter {
		cursor: pointer;
		/* transition: 300ms; */
		animation-name: floating2;
		animation-duration: 6s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}

	
	

	#earth:hover {
		fill: blue;
	}

	/* @keyframes test{
		from {
			transform: rotate(0deg);
			transform-origin: bottom;
		}
		to {
			transform: rotate(360deg);
			transform-origin: bottom;

		}
	} */
	
	@keyframes rotateOrbit{
		from {
			transform-origin: center center;
			transform: rotate(0deg);
		}
		to {
			transform-origin: center center;
			transform: rotate(360deg);
		}
	}

	@keyframes rotateIcon{
		from {
			transform-origin: 0%;
			transform: rotate(0deg);
		}
		to {
			transform-origin: 0%;
			transform: rotate(360deg);
		}
	}


	@keyframes floating {
    0% { transform: translate(0,  -1px); }
    50%  { transform: translate(0, 2px); }
    100%   { transform: translate(0, -1px); }   
	}
	@keyframes floating2 {
    0% { transform: translate(0,  -.3px); }
    50%  { transform: translate(0, .8px); }
    100%   { transform: translate(0, -.3px); }   
	}

	@font-face {
		font-family: FuturaBold;
		src: url('FuturaHeavyfont.ttf');
	}

</style>