---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import OrbitLinks from "../components/OrbitLinks.svelte";
import Stars from "../components/Stars.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body id="home" class="
		prose
		prose-invert
		bg-gradient-to-b
		from-gray-900
		to-gray-600
		">

		<Stars client:visible></Stars>
		<!-- <Header title={SITE_TITLE} /> -->
		<main class="w-full min-h-screen">
			<!-- class="w-full min-h-screen" -->
			<div class="grid grid-cols-1 items-center justify-items-center">
				
				<OrbitLinks client:load></OrbitLinks>
					
				<div class="container flex flex-col">
					<h1 id="heroText" class="
					select-none
					text-center
					font-bold
					text-transparent 
					text-5xl
					md:text-6xl
					lg:text-8xl 
					bg-clip-text 
					bg-gradient-to-r 
					from-blue-300 
					to-blue-600
					mb-0
					">
					Hey! I'm Noah
					</h1>
					<p id="subtext1" class="text-center text-lg md:text-xl"> Software Engineer in NY, NY</p>
				</div>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec molestie nunc. Cras non porta eros. Sed blandit est et orci pretium, ut mollis diam ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus tempor arcu nisi, ut convallis neque ullamcorper ut. Nam auctor a augue rhoncus molestie. Nam vehicula tempor massa, id ullamcorper elit eleifend et. Quisque mollis in tellus sit amet molestie. Vestibulum condimentum lobortis condimentum. Nullam commodo augue sit amet maximus posuere. Suspendisse quis erat et nulla pharetra euismod quis eget leo. Maecenas tristique scelerisque ultricies. Nam egestas augue non justo iaculis venenatis. Etiam sodales lectus ex, ac porttitor urna tincidunt eu.

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas at dolor quis nunc faucibus fermentum. Suspendisse at porta erat, vel commodo quam. Vivamus gravida diam at turpis laoreet porttitor. Vivamus et felis at eros porta congue eget non diam. Praesent elit ex, cursus sit amet faucibus in, ultricies in velit. Phasellus laoreet nibh efficitur mauris scelerisque, id commodo magna rutrum. Integer ac dictum risus. Phasellus sit amet fringilla justo, sit amet maximus odio. Sed quis tristique eros.

Nullam aliquet porta varius. Etiam venenatis posuere posuere. Proin finibus est eget libero facilisis, posuere pulvinar eros scelerisque. Fusce posuere nisi at justo lacinia, et gravida mi mattis. Aenean congue quam id lacus porta, a porttitor nulla posuere. Morbi viverra augue a mattis suscipit. Mauris diam nunc, tincidunt ac consectetur id, ultricies nec diam. Nam commodo eget lorem at porttitor.

Suspendisse potenti. Aliquam sed viverra neque. Suspendisse sed laoreet massa, vitae porttitor turpis. Quisque ipsum arcu, eleifend vehicula tempus non, sagittis in felis. Duis maximus sit amet dui vitae scelerisque. Sed facilisis dolor non vulputate fringilla. Nunc non tempor metus. Praesent placerat faucibus sodales.

Vestibulum tellus nibh, eleifend id faucibus at, ultricies vitae nisi. Sed et nisi bibendum mauris condimentum faucibus id a dolor. Sed eget elementum tellus, a auctor metus. Maecenas elit nunc, aliquam non tortor id, consequat sodales magna. Vivamus a placerat justo, id commodo quam. Mauris id nibh eget urna ullamcorper luctus at et est. Phasellus fermentum nisi ac lacus ultricies, a viverra elit feugiat. Ut vel dapibus turpis, in vulputate nibh. Vestibulum mattis ultricies cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec molestie nunc. Cras non porta eros. Sed blandit est et orci pretium, ut mollis diam ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus tempor arcu nisi, ut convallis neque ullamcorper ut. Nam auctor a augue rhoncus molestie. Nam vehicula tempor massa, id ullamcorper elit eleifend et. Quisque mollis in tellus sit amet molestie. Vestibulum condimentum lobortis condimentum. Nullam commodo augue sit amet maximus posuere. Suspendisse quis erat et nulla pharetra euismod quis eget leo. Maecenas tristique scelerisque ultricies. Nam egestas augue non justo iaculis venenatis. Etiam sodales lectus ex, ac porttitor urna tincidunt eu.

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas at dolor quis nunc faucibus fermentum. Suspendisse at porta erat, vel commodo quam. Vivamus gravida diam at turpis laoreet porttitor. Vivamus et felis at eros porta congue eget non diam. Praesent elit ex, cursus sit amet faucibus in, ultricies in velit. Phasellus laoreet nibh efficitur mauris scelerisque, id commodo magna rutrum. Integer ac dictum risus. Phasellus sit amet fringilla justo, sit amet maximus odio. Sed quis tristique eros.

Nullam aliquet porta varius. Etiam venenatis posuere posuere. Proin finibus est eget libero facilisis, posuere pulvinar eros scelerisque. Fusce posuere nisi at justo lacinia, et gravida mi mattis. Aenean congue quam id lacus porta, a porttitor nulla posuere. Morbi viverra augue a mattis suscipit. Mauris diam nunc, tincidunt ac consectetur id, ultricies nec diam. Nam commodo eget lorem at porttitor.

Suspendisse potenti. Aliquam sed viverra neque. Suspendisse sed laoreet massa, vitae porttitor turpis. Quisque ipsum arcu, eleifend vehicula tempus non, sagittis in felis. Duis maximus sit amet dui vitae scelerisque. Sed facilisis dolor non vulputate fringilla. Nunc non tempor metus. Praesent placerat faucibus sodales.

Vestibulum tellus nibh, eleifend id faucibus at, ultricies vitae nisi. Sed et nisi bibendum mauris condimentum faucibus id a dolor. Sed eget elementum tellus, a auctor metus. Maecenas elit nunc, aliquam non tortor id, consequat sodales magna. Vivamus a placerat justo, id commodo quam. Mauris id nibh eget urna ullamcorper luctus at et est. Phasellus fermentum nisi ac lacus ultricies, a viverra elit feugiat. Ut vel dapibus turpis, in vulputate nibh. Vestibulum mattis ultricies cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

				</p>
				
			</div>

			
		</main>
		<Footer />
	</body>
</html>

<style>
	#heroText {
		font-family: FuturaBold;
	}
	#subtext1 {
		font-family: FuturaBold;
	}

	@font-face {
		font-family: FuturaBold;
		src: url('FuturaHeavyfont.ttf');
	}

</style>