---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import OrbitLinks from "../components/OrbitLinks.svelte";
import Stars from "../components/Stars.svelte";
import About from "../components/aboutMeAnalysis.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body id="home" class="
		prose
		prose-invert
		bg-gradient-to-b
		from-gray-900
		to-gray-600
		">

		<Stars client:visible></Stars>
		<!-- <Header title={SITE_TITLE} /> -->
		<main class="w-full min-h-screen">
			<!-- class="w-full min-h-screen" -->
			<div class="grid grid-cols-1 items-center justify-items-center">
				
				<OrbitLinks client:load></OrbitLinks>
					
				<div class="container flex flex-col mb-24">
					<h1 id="heroText" class="
					select-none
					text-center
					font-bold
					text-transparent 
					text-5xl
					md:text-6xl
					lg:text-8xl 
					bg-clip-text 
					bg-gradient-to-r 
					from-blue-300 
					to-blue-600
					mb-0
					">
					Hey! I'm Noah
					</h1>
					<p id="subtext1" class="text-center text-lg md:text-xl m-0"> Click a Planet to Explore 👉🌎</p>
					<p id="subtext2" class="text-center text-xs md:text-sm m-0"> (or scroll down) </p>
				</div>

				
			</div>

			<About client:visible></About>

			
		</main>
		<!-- todo make footer the moon or a planet or some shit -->
		<Footer />
	</body>
</html>

<style>
	.svg {
  width: 1.5em;
  vertical-align: middle
}
	#heroText {
		font-family: FuturaBold;
		animation: slideFromTopFade;
		animation-duration: 800ms;
		animation-timing-function: ease-in-out;
	}
	#subtext1 {
		font-family: FuturaBold;
		animation: opacityChange;
		animation-duration: 800ms;
		animation-timing-function: ease-in-out;
		/* margin-right: 300px; */
	}
	#subtext2 {
		font-family: FuturaBold;
		animation: opacityChange;
		animation-duration: 1500ms;
		animation-timing-function: ease-in;
		/* margin-right: 300px; */
	}
	#aboutMePlanet {
		animation: floating;
		animation-duration: 6s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}
	.planetCircle {
		box-shadow: inset 0px -20px 50px 10px #00ffff80,
		0px 0px 30px 6px #00ffff70;
	}


@keyframes rotate {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 530px 0;
	}
}
	/* #subtext2 {
		font-family: FuturaBold;
		margin-left: 300px;
	} */

	@font-face {
		font-family: FuturaBold;
		src: url('FuturaHeavyfont.ttf');
	}

	@keyframes slideFromTopFade {
		0% {
			transform: translateY(-50px);
			opacity: 0%;
		}
		100% {
			transform: translateY(0);
			opacity: 100%;
		}
	}
	@keyframes opacityChange {
		0% {
			opacity: 0%;
		}
		100% {
			opacity: 100%;
		}
	}

	@keyframes floating {
    0% { transform: translate(0,  -2px); }
    50%  { transform: translate(0, 4px); }
    100%   { transform: translate(0, -2px); }   
	}

</style>